@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Work Sans", sans-serif;
}

#root {
  width: 100%;
}

@media screen and (max-width: 60rem) {
  /* 950px */
  :root {
    font-size: 14px;
  }
}

.btn-primary {
  @apply px-5 py-3 
  text-white  bg-[#5B69E2] rounded-lg shadow-md;
}

.btn {
  @apply px-5 py-2 
  text-white flex justify-center items-center rounded-lg shadow-md bg-black;
}

.btn-icon {
  @apply p-3
   text-white flex justify-center items-center rounded-lg shadow-md bg-black;
}
